@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@utility mask-to-t {
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 10%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 1) 80%
  );
}

@theme {
  --font-sans: "Montserrat", sans-serif;
  --color-background: #1c1e22;
  --color-surface: #26292f;
  --color-sand-200: #e5e1d4;
  --color-sand-500: #cfcbbf;
  --color-sand-700: #b0ac9f;
  --color-golden: #ffd45a;
  --color-accent: #8d8dff;

  /* Text color animation */
  --animate-text-color: color-change 3s linear infinite;
  --color1: #86e4ce;
  --color2: #d0e6a4;
  --color3: #fbdd95;
  @keyframes color-change {
    0% {
      /* color: initial; */
    }
    25% {
      color: var(--color1);
    }
    50% {
      color: var(--color2);
    }
    75% {
      color: var(--color3);
    }
    100% {
      /* color: initial; */
    }
  }
}

html {
  scrollbar-gutter: stable;
}

#profile h2 {
  @apply text-2xl font-bold uppercase md:text-4xl;
}
#profile h3 {
  @apply text-lg font-bold md:text-2xl;
}
.text-size-svg {
  width: 1em;
  height: 1em;
}

a:focus-visible,
button:focus-visible {
  @apply outline-accent outline-2 outline-offset-2 outline-solid;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.current-link {
  @apply text-[#FFD45A] underline underline-offset-4;
}

.floating-img {
  position: absolute;
  width: 40px; /* Adjust as needed */
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  will-change: transform, opacity;
}

.mario-pipe {
  position: fixed;
  width: 100px;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 10;
}
.mario-mushroom {
  position: fixed;
  width: 80px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  z-index: 5;
}
