---
import ContactLink from "../components/ContactLink.astro";
import Hero from "../components/Hero.astro";
import PastProject from "../components/PastProject.astro";
import ScreenPreview from "../components/ScreenPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import GithubLogo from "../assets/github-mark.svg";
import LinkedInLogo from "../assets/linkedin.svg";
import ReactLogo from "../assets/tools/react.svg";
import NextLogo from "../assets/tools/next.svg";
import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Hero />
  <Skills />

  <section id="about" class="pt-24 pb-8 px-6 max-w-4xl mx-auto fade-in">
    <h2 class="text-center">À propos</h2>
    <p class="text-center mt-16">
      Après une première carrière dans l'aéronautique, je me suis reconverti
      dans le développement web. Depuis 4 ans, je travaille comme développeur
      frontend chez EY Fabernovel.
    </p>
    <p class="text-center mt-4">
      <span class="font-bold">Mon objectif : </span>concevoir des interfaces
      accessibles et maintenir des design systems fiables et cohérents.
    </p>
  </section>

  <section id="projects" class="pt-24 pb-8 px-6 max-w-4xl mx-auto fade-in">
    <h2 class="text-center">Projets récents</h2>
    <ul class="mt-16 space-y-6 flex flex-col gap-12">
      <PastProject
        title="Design System de l\'Autonomie (2024 — aujourd\'hui)"
        description="Composants Web accessibles pour la CNSA, destinés aux personnes âgées ou en situation de handicap. Respect des normes WCAG et RGAA."
        url="https://dsa.service-public-autonomie.fr/"
      >
        <ScreenPreview filename="DSA" />
      </PastProject>
      <PastProject
        title="NAOS – Skin Observer (2023)"
        description="Outil d'analyse de peau intégré via iframe sur les sites des différentes marques de NAOS. Stack : Next.js, TypeScript, Tailwind, Haut.AI."
        url="https://front-naosko-prod.naos.com/fr-FR?parent=https://www.esthederm.fr&brand=Institut%20Esthederm&legalNotice=https://www.esthederm.fr/charte-de-protection-des-donnees-personnelles&pricingUrl=https://back-prod.esthederm.com/graphql"
        imagePosition="right"
      >
        <ScreenPreview filename="SkinObserver" />
      </PastProject>
      <PastProject
        title="Flowee – Plateforme de travail hybride (2022)"
        description="Dashboard React pour la gestion du flex office. Utilisation de React Aria pour améliorer l'accessibilité et l'expérience utilisateur."
        url="https://www.flowee.io/"
      >
        <ScreenPreview filename="Flowee" />
      </PastProject>
      <PastProject
        title="Site web de la Villa Albertine (2021)"
        description="Développement frontend du site culturel de l'ambassade de France aux États-Unis. Stack : Next.js, TypeScript, Tailwind CSS."
        url="https://villa-albertine.org/fr/"
        imagePosition="right"
      >
        <ScreenPreview filename="VillaAlbertine" />
      </PastProject>
    </ul>
  </section>

  <section
    id="contact"
    class="py-24 px-6 max-w-4xl mx-auto text-center fade-in"
  >
    <ContactLink />
  </section>

  <Footer />
</BaseLayout>

<script>
  // @ts-ignore
  import KonamiCode from "konami-code-js";

  new KonamiCode(() => {
    const pipeImage = document.createElement("img");
    pipeImage.src = "/profile/Mario-Pipe-PNG-Image-HD-300x225.png";
    pipeImage.className = "mario-pipe";
    pipeImage.style.top = "100px";

    if (!document.querySelector(".mario-pipe")) {
      document.body.appendChild(pipeImage);
    }

    let stopAnimation = false;

    let pipeVx = 3;
    let pipeX = -80;

    const img = document.createElement("img");
    img.src = "/profile/Mario-Mushroom-PNG-Image.png";
    img.className = "mario-mushroom";
    img.draggable = false;
    document.body.appendChild(img);

    img.addEventListener("click", function (e) {
      img.remove();
      stopAnimation = true;
    });

    // Physics parameters
    let x = -100;
    let y = 125;
    let vx = 3; // horizontal drift
    let vy = 0; // initial upward velocity
    let gravity = 0.2;
    let opacity = 1;

    function animate() {
      if (pipeX < -2 && y < window.innerHeight - 500) {
        pipeX += pipeVx;
        pipeImage.style.left = `${pipeX}px`;
      }
      if (y > window.innerHeight - 500) {
        pipeX -= pipeVx;
        pipeImage.style.left = `${pipeX}px`;
      }
      if (pipeX < -81) {
        pipeImage.remove();
      }

      if ((y !== 125 && x < 0) || x > window.innerWidth - 90) {
        vx = -vx;
      }
      x += vx;
      if (x > 50 && y < window.innerHeight - 90) {
        vy += gravity;
        y += vy;
      }
      // opacity -= 0.0015;

      img.style.top = `${y}px`;
      img.style.left = `${x}px`;
      img.style.opacity = opacity.toString();

      if (!stopAnimation || pipeX > -81) {
        requestAnimationFrame(animate);
      }
    }

    requestAnimationFrame(animate);
  });
</script>
