---
import { MobileNav } from "./MobileNav";
---

<nav class="fixed top-0 left-0 w-full z-50 h-20">
  <div class="absolute inset-0 z-[-1] backdrop-blur-3xl mask-to-t"></div>
  <div
    class="hidden md:flex max-w-4xl mx-auto px-4 py-3 items-center justify-between"
  >
    <div class="w-full flex space-x-6 text-sm font-medium" id="navbar">
      <slot />
    </div>
  </div>
  <MobileNav client:load><slot /> </MobileNav>
</nav>
