---
import ReactLogo from "../assets/tools/react.svg";
import NextLogo from "../assets/tools/next.svg";
import JavascriptLogo from "../assets/tools/javascript.svg";
import TypescriptLogo from "../assets/tools/typescript.svg";
import AstroLogo from "../assets/tools/astro.svg";
import CSSLogo from "../assets/tools/css3.svg";
import HTMLLogo from "../assets/tools/html5.svg";
import StorybookLogo from "../assets/tools/storybook.svg";
import GitLogo from "../assets/tools/git.svg";
import FigmaLogo from "../assets/tools/figma.svg";
import TailwindCSSLogo from "../assets/tools/tailwindcss.svg";
---

<section id="competences" class="pt-24 pb-8 px-6 max-w-4xl mx-auto fade-in">
  <h2 class="text-center">Compétences</h2>
  <dl class="text-center space-y-2">
    <dt class="font-bold mt-16"><h3>Développement Frontend</h3></dt>
    <dd class="mt-8">
      HTML, CSS, TypeScript, JavaScript, React, Next.js, Astro, Web Components

      <div class="flex justify-center items-center gap-4 mt-4 flex-wrap">
        <HTMLLogo class="h-12" />
        <CSSLogo class="h-12" />
        <JavascriptLogo class="h-10" />
        <TypescriptLogo class="h-10" />
        <ReactLogo class="h-12" />
        <NextLogo class="h-8" />
        <AstroLogo class="h-12" />
      </div>
    </dd>

    <dt class="font-bold mt-16"><h3>Outils</h3></dt>
    <dd class="mt-8">
      Git, Figma, Tailwind CSS, Storybook
      <div class="flex justify-center items-center gap-4 mt-4 flex-wrap">
        <GitLogo class="h-12" />
        <FigmaLogo class="h-12" />
        <TailwindCSSLogo class="h-12" />
        <StorybookLogo class="h-12" />
      </div>
    </dd>

    <!-- <dt class="font-bold mt-16">Creative frontend</dt>
    <dd class="mt-8">Threejs, AOS, Lenis</dd> -->

    <dt class="font-bold mt-16"><h3>Accessibilité</h3></dt>
    <dd class="mt-8">RGAA, WCAG, ARIA, audit, lecteurs d'écran</dd>

    <dt class="font-bold mt-16"><h3>Langues</h3></dt>
    <dd class="mt-8">
      Français (natif), Anglais (courant), Japonais (professionnel), Espagnol
      (notions)
    </dd>
  </dl>
</section>
