---
import BaseLayout from "./BaseLayout.astro";
import "../styles/post.css";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <section class="pt-24 pb-8 px-6 max-w-4xl mx-auto fade-in">
    <h1 class="md:mt-12">{frontmatter.title}</h1>
    <p class="mt-8 mb-12 md:mb-20 italic">
      Published on: {frontmatter.pubDate.toString().slice(0, 10)}
    </p>
    <slot />
  </section>
</BaseLayout>
